@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Contact Information</h3>
@*<h3>@ViewData["Message"]</h3>*@


<address>
    Emre Denli<br />
    Manisa/Yunusemre<br />
    <abbr title="Telefon">Telefon:</abbr>
     0 555 555 55 55
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:denli.emree@gmail.com">denli.emree@gmail.com</a><br />
    
</address>
