@model SignInViewModel

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <br />
    <br />
    <div class="row">
        <aside class="col-sm-4 col-sm-push-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <form action="/Login/SignIn" method="post">
                        <div class="form-group">
                            <label>Your email</label>
                            @Html.TextBoxFor(a => a.UserName, new { placeholder = "Email", @class = "form-control", type = "email" })
                            @*<input name="" class="form-control" placeholder="Email" type="email">*@
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            @*<a class="float-right" href="#">Forgot?</a>*@
                            <label>Your password</label>
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "******", type = "password" })
                            @*<input class="form-control" placeholder="******" type="password">*@
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            @*<div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div>*@
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->

</div>